/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.168);
}

.layout-grid {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.navbar {
  width: 18%;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333333;
}

.link:hover {
  color: #AF0404;
  text-decoration: underline;
}

.section-banner {
  width: 100%;
}

.banner {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.sobre-nos {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-sobre-nos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;

}

.sobre-nos-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: contain; 
}

.sobre-nos-text {
  max-width: 500px;
  padding: 30px;
  border: 1px solid #AF0404;
  border-radius: 15px;
}

.sobre-nos-text:hover {
  box-shadow: 8px 8px 8px 8px #00000044;
}

.sobre-nos h3 {
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333333;
}


.sobre-nos p {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333333;
  margin-top: 30px;
}
